---
import { CollectionEntry, getCollection } from "astro:content";
import Root from "../../layouts/root.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
const { Content } = await post.render();
---

<Root title={post.data.title + " · Zachary Robinson"}>
  <h1 class="font-handwriting text-4xl">{post.data.title}</h1>
  <p class="text-zinc-400">
    {
      post.data.date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </p>
  <div class="prose prose-zinc dark:prose-invert prose-img:rounded-md">
    <Content />
  </div>
</Root>
