---
import { IconLoader } from "@tabler/icons-react";
import { IconLoader2 } from "@tabler/icons-react";
import { IconChevronLeft } from "@tabler/icons-react";
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { ExifDetails } from "~/components/exif-details";
import Root from "~/layouts/root.astro";
import { getExif } from "~/lib/exif";

export async function getStaticPaths() {
  const galleryPosts = await getCollection("gallery-posts");
  const galleryPhotos = galleryPosts
    .map((post) => post.data.photos)
    .flat()
    .map((x) => x.path);

  return galleryPhotos.map((photo, i) => ({
    params: { slug: i },
    props: { photo, i },
  }));
}

const { photo, i } = Astro.props as {
  photo: CollectionEntry<"gallery-posts">["data"]["photos"][0]["path"];
  i: number;
};

const exifData = await getExif(photo);
---

<Root
  title={"Photos · Zachary Robinson"}
  parent="Photos"
  ogImage={`/og/photos/${i}.png`}
  noIndex
>
  <article class="mx-auto flex max-w-prose flex-col gap-4">
    <a href="/photos" class="group text-muted-foreground">
      <IconChevronLeft
        className="mb-0.5 inline transition-transform group-hover:-translate-x-1"
        size={16}
      />
       Back to All Photos
    </a>

    <div class="relative">
      <Image
        src={photo}
        alt={"image preview for image #" + i}
        class="rounded-lg object-contain"
        quality="max"
        loading="eager"
      />

      <div
        style={`aspect-ratio: ${
          exifData.exif.ExifImageWidth! / exifData.exif.ExifImageHeight!
        };`}
        class="absolute top-0 -z-10 flex w-full items-center justify-center rounded-lg bg-zinc-800"
      >
        <IconLoader2 size={48} className="animate-spin text-zinc-100" />
      </div>
    </div>

    <ExifDetails details={exifData} />
  </article>
</Root>
