/* define base colors from flexoki theme (see https://stephango.com/flexoki) */
html {
  --flexoki-black: #100f0f;
  --flexoki-base-950: #1c1b1a;
  --flexoki-base-900: #282726;
  --flexoki-base-850: #343331;
  --flexoki-base-800: #403e3c;
  --flexoki-base-700: #575653;
  --flexoki-base-600: #6f6e69;
  --flexoki-base-500: #878580;
  --flexoki-base-400: #9f9d96;
  --flexoki-base-300: #b7b5ac;
  --flexoki-base-200: #cecdc3;
  --flexoki-base-150: #dad8ce;
  --flexoki-base-100: #e6e4d9;
  --flexoki-base-50: #f2f0e5;
  --flexoki-paper: #fffcf0;
}

/* define utility colors from flexoki theme */
html {
  --tx: var(--flexoki-black);
  --tx-2: var(--flexoki-base-600);
  --tx-3: var(--flexoki-base-300);
  --ui-3: var(--flexoki-base-200);
  --ui-2: var(--flexoki-base-150);
  --ui: var(--flexoki-base-100);
  --bg-2: var(--flexoki-base-50);
  --bg: var(--flexoki-paper);
}

.dark {
  --bg: var(--flexoki-black);
  --bg-2: var(--flexoki-base-950);
  --ui: var(--flexoki-base-900);
  --ui-2: var(--flexoki-base-850);
  --ui-3: var(--flexoki-base-800);
  --tx-3: var(--flexoki-base-700);
  --tx-2: var(--flexoki-base-500);
  --tx: var(--flexoki-base-200);
}

html {
  color: var(--tx);
  background-color: var(--bg);
}

hr {
  border-style: solid;
  color: var(--ui);
}

a {
  color: var(--tx-2);
}

blockquote {
  margin-right: 32px;
  color: var(--tx-2);
}

/* basic page layout, for readability */
body {
  padding: 16px;
  margin: 0 auto;
  max-width: 600px;
}
