/* define other variables */
html {
  --font-mono: "Menlo", monospace;
  --font-display: "Apple Garamond", "Times New Roman", serif;
}

html {
  font-family: "Menlo", monospace;
  font-size: 16px;
  line-height: 1.5;
}

body {
  /* color: var(--tx);
  background-color: var(--bg); */

  padding: 1rem 4ch;
  margin: 0 auto;
  max-width: 76ch;
}

hr {
  border-style: solid;
  /* color: var(--ui); */
}

/* a {
  color: var(--bl);
}

a:visited {
  color: var(--pu);
}

a:active {
  color: var(--re);
} */

blockquote {
  padding-left: 4ch;
  margin: 1rem 0 1rem 0;
  color: var(--tx-2);
  position: relative;
}

blockquote::before {
  content: ">";
  position: absolute;
  top: 0;
  left: 2ch;
}

/* blockquote * {
  color: var(--tx-2) !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: normal;
  /* font-size: 1rem; */
  margin: 2rem 1rem 0 0;
  line-height: 1;
}

sup {
  font-size: unset;
  vertical-align: unset;
}

sup::before {
  content: "[^";
}
sup::after {
  content: "]";
}

p {
  margin: 1rem 0;
}

ol,
ul {
  padding-left: 4ch;
}

@media (max-width: 550px) {
  body {
    padding: 1rem 2ch;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 1rem 0 2rem 0;
}

/* article :not(pre) > code {
  background-color: var(--ui);
} */

article :not(pre) > code::before,
article :not(pre) > code::after {
  content: "`";
}

article pre:has(code) {
  /* background-color: var(--ui); */
  padding: 16px;
  overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}
