---
import { type CollectionEntry, getCollection } from "astro:content";
import PostList from "~/components/post-list.astro";
import Root from "~/layouts/root.astro";
import { slugify } from "~/lib/utils";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const tags = new Map<string, CollectionEntry<"posts">[]>();

  posts.forEach((post) =>
    post.data.tags?.forEach((tag) => {
      const matches = tags.get(tag) ?? [];
      tags.set(tag, [...matches, post]);
    }),
  );

  return Array.from(tags).map(([tag, posts]) => ({
    params: { slug: slugify(tag) },
    props: { tag, posts },
  }));
};

const { tag, posts } = Astro.props as {
  tag: string;
  posts: CollectionEntry<"posts">[];
};
---

<Root title={`${tag} · Zachary Robinson`} parent="Tags" noIndex>
  <h1>{tag}</h1>
  <span>({posts.length})</span>
  <PostList posts={posts} />
  <p>View all tags <a href="/tags">here</a>.</p>
</Root>

<style>
  h1 {
    display: inline;
    margin-right: 4px;
  }
</style>
