---
import { getCollection } from "astro:content";
import Root from "~/layouts/root.astro";
import { getSortedTags, slugify } from "~/lib/utils";

const posts = await getCollection("posts");
const tags = getSortedTags(posts);
---

<Root
  title="Tags · Zachary Robinson"
  parent="Tags"
  ogImage="/og/tags.png"
  noIndex
>
  <div class="mx-auto flex max-w-prose flex-col">
    <span class="inline-flex pb-4">
      <h2 class="text-3xl font-bold">Tags</h2>
      <span class="ml-1 text-muted-foreground">{tags.length}</span>
    </span>

    <div class="flex flex-wrap gap-2">
      {
        tags.map(([tag, occurances]) => (
          <a href={`/tags/${slugify(tag)}`}>
            <span>{tag}</span>
            <span class="mb-1 ml-1 text-xs text-muted-foreground">
              {occurances}
            </span>
          </a>
        ))
      }
    </div>
  </div>
</Root>
