---
import Root from "~/layouts/root.astro";
---

<Root title="Not Found · Zachary Robinson">
  <h1>404</h1>
  <p>We looked high and low, but couldn’t find that link.</p>
  <p>
    Check the address again or <a href="/">head back home</a>.
  </p>
</Root>
