---
import Root from "../layouts/root.astro";
---

<Root title="Astro Blog">
  <h2 class="text-2xl font-bold">About Route</h2>
  <p>Hello World!</p>

  <div class="bg-zinc-300 dark:bg-zinc-800 mt-4 p-4 rounded-md">
    <p class="text-zinc-800 dark:text-zinc-300">
      This is some text that's responsive to the theme!
    </p>
  </div>
</Root>
