---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Root from "~/layouts/root.astro";

const galleryPosts = await getCollection("gallery-posts");
galleryPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const galleryPhotos = galleryPosts
  .map((post) => post.data.photos)
  .flat()
  .map((x) => x.path);
---

<Root
  title="Gallery Grid · Zachary Robinson"
  parent="Gallery Grid"
  ogImage="/og/gallery-grid.png"
  noIndex
>
  <div class="mx-auto flex max-w-prose flex-col">
    <span class="inline-flex pb-4">
      <h2 class="text-3xl font-bold">Gallery Grid</h2>
      <span class="ml-1 text-muted-foreground">{galleryPhotos.length}</span>
    </span>

    <div class="grid grid-cols-3 gap-4">
      {
        galleryPhotos.map((photo, i) => (
          <a href={"/gallery-grid/" + i}>
            <Image
              src={photo}
              alt={"image preview for image #" + i}
              class="max-h-40 rounded-lg object-contain shadow"
              height="300"
              transition:name={"gallery-grid-" + i}
            />
          </a>
        ))
      }
    </div>
  </div>
</Root>
