---
import Root from "../layouts/root.astro";
---

<Root title="Astro Blog">
	<main class="flex justify-center items-center h-screen">
		<h1 class="text-4xl font-semibold animate-spin">Hello World!</h1>
	</main>
</Root>

