---
import { IconLoader2 } from "@tabler/icons-react";
import { Image } from "astro:assets";
import { ExifDetails } from "~/components/exif-details";
import { LinkButton } from "~/components/link-button";
import Root from "~/layouts/root.astro";
import { getFilePath } from "~/lib/exif";
import { getPhotos } from "~/lib/photos";

const photos = await getPhotos();
---

<Root
  title="Photos · Zachary Robinson"
  parent="Photos"
  ogImage="/og/photos.png"
  noIndex
>
  <div class="mx-auto flex max-w-prose flex-col">
    <div class="flex justify-between gap-4">
      <span class="inline-flex pb-4">
        <h2 class="text-3xl font-bold">Photos</h2>
        <span class="ml-1 text-muted-foreground">{photos.length}</span>
      </span>
    </div>

    <div class="flex flex-col gap-4">
      {
        photos.map((photo, i) => (
          <div class="flex gap-4">
            <a href={"/photos/" + i} class="basis-1/2">
              <Image
                src={photo.file}
                alt={"image preview for image #" + i}
                class="max-h-60 rounded-lg bg-zinc-800 object-contain shadow"
                height="500"
              />
            </a>

            <div class="flex basis-1/2 flex-col justify-between gap-4 rounded-lg border border-border p-4">
              <ExifDetails details={photo.data} className="gap-2" lessDetails />

              <div class="flex gap-4">
                <LinkButton
                  href={"/photos/" + i}
                  size="sm"
                  className="basis-1/2"
                >
                  More Details
                </LinkButton>

                <LinkButton
                  href={`https://raw.githubusercontent.com/zsrobinson/portfolio/gallery-section/${getFilePath(
                    photo.file.src,
                  )}`}
                  size="sm"
                  variant="secondary"
                  className="basis-1/2"
                >
                  View Original
                </LinkButton>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Root>
