---
import { IconLoader2 } from "@tabler/icons-react";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { ExifDetails } from "~/components/exif-details";
import { LinkButton } from "~/components/link-button";
import Root from "~/layouts/root.astro";
import { getExif, getFilePath } from "~/lib/exif";

const galleryPosts = await getCollection("gallery-posts");
galleryPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const photos = galleryPosts
  .map((post) => post.data.photos)
  .flat()
  .map((x) => x.path);

const exifData = await Promise.all(photos.map((photo) => getExif(photo)));
---

<Root
  title="Photos · Zachary Robinson"
  parent="Photos"
  ogImage="/og/photos.png"
  noIndex
>
  <div class="mx-auto flex max-w-prose flex-col">
    <div class="flex justify-between gap-4">
      <span class="inline-flex pb-4">
        <h2 class="text-3xl font-bold">Photos</h2>
        <span class="ml-1 text-muted-foreground">{photos.length}</span>
      </span>
    </div>

    <div class="flex flex-col gap-4">
      {
        photos.map((photo, i) => (
          <div class="flex gap-4">
            <a href={"/photos/" + i} class="relative basis-1/2">
              <Image
                src={photo}
                alt={"image preview for image #" + i}
                class="rounded-lg object-contain shadow"
                height="500"
              />

              <div
                style={`aspect-ratio: ${
                  exifData[i].exif.ExifImageWidth! /
                  exifData[i].exif.ExifImageHeight!
                };`}
                class="absolute top-0 -z-10 flex w-full items-center justify-center rounded-lg bg-zinc-800"
              >
                <IconLoader2 size={48} className="animate-spin text-zinc-100" />
              </div>
            </a>

            <div class="flex basis-1/2 flex-col justify-between rounded-lg border border-border p-4">
              <ExifDetails
                details={exifData[i]}
                className="gap-2"
                lessDetails
              />

              <div class="flex gap-4">
                <LinkButton
                  href={"/photos/" + i}
                  size="sm"
                  className="basis-1/2"
                >
                  More Details
                </LinkButton>

                <LinkButton
                  href={`https://raw.githubusercontent.com/zsrobinson/portfolio/gallery-section/${getFilePath(
                    photo.src,
                  )}`}
                  size="sm"
                  variant="secondary"
                  className="basis-1/2"
                >
                  View Original
                </LinkButton>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Root>
