---
import getBlogPosts from "../db/getBlogPosts";
import Root from "../layouts/root.astro";

const posts = await getBlogPosts();
---

<Root title="Blog · Zachary Robinson">
  <h2 class="text-2xl font-bold pb-2">Blog Posts</h2>
  <ul class="list-disc list-inside ml-4">
    {
      posts.map((post) => (
        <li class="pb-1">
          <a href={`/posts/${post.slug}`}>{post.title}</a>
        </li>
      ))
    }
  </ul>
</Root>
