---
import { getCollection } from "astro:content";
import PostCard from "~/components/post-card.astro";
import Root from "~/layouts/root.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Root
  title="Posts · Zachary Robinson"
  parent="Posts"
  ogImage="/og/posts.png"
  noIndex
>
  <div class="mx-auto flex max-w-prose flex-col">
    <span class="inline-flex pb-4">
      <h2 class="text-3xl font-bold">Posts</h2>
      <span class="ml-1 text-muted-foreground">{posts.length}</span>
    </span>

    <div class="flex flex-col gap-4">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
</Root>
