---
import { getCollection } from "astro:content";
import PostCard from "~/components/post-card.astro";
import Root from "~/layouts/root.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Root title="Posts · Zachary Robinson">
  <div class="mx-auto flex max-w-prose flex-col">
    <h2 class="text-3xl font-bold">Posts</h2>
    <p class="pb-4 italic text-muted-foreground">
      This is a beta site and not all posts are shown here.
    </p>
    <div class="flex flex-col gap-4">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
</Root>
