---
import { getCollection } from "astro:content";
import Fuse from "fuse.js";
import PostList from "~/components/post-list.astro";
import Root from "~/layouts/root.astro";

export const prerender = false;
const posts = await getCollection("posts");
const q = Astro.url.searchParams.get("q") || "";

const fuse = new Fuse(posts, {
  ignoreLocation: true,
  keys: [
    { name: "data.title", weight: 0.7 },
    { name: "data.tags", weight: 0.5 },
    { name: "body", weight: 0.3 },
  ],
});

const results = fuse.search(q);
---

<Root title="Search · Zachary Robinson" noIndex>
  {q ? <h1>Search Results: {q}</h1> : <h1>Search</h1>}

  <form class="flex gap-4 py-4">
    <input
      name="q"
      placeholder="Search"
      value={q}
      autofocus={q === "" || results.length === 0}
    />

    <button type="submit"> Submit </button>
  </form>

  {q && results.length === 0 && <p class="font-semibold">No results found.</p>}
  <PostList posts={results.map((r) => r.item)} />
</Root>
