---
import { IconSearch } from "@tabler/icons-react";
import { getCollection } from "astro:content";
import Fuse from "fuse.js";
import PostCard from "~/components/post-card.astro";
import { Button } from "~/components/ui/button";
import { Input } from "~/components/ui/input";
import Root from "~/layouts/root.astro";

export const prerender = false;
const posts = await getCollection("posts");
const q = Astro.url.searchParams.get("q") || "";

const fuse = new Fuse(posts, {
  keys: [
    { name: "data.title", weight: 0.7 },
    { name: "body", weight: 0.3 },
    { name: "data.categories", weight: 0.5 },
    { name: "data.tags", weight: 0.5 },
  ],
});

const results = fuse.search(q);
---

<Root title="Search · Zachary Robinson" noIndex>
  <div class="mx-auto flex max-w-prose flex-col">
    <h2 class="text-3xl font-bold">Search</h2>

    <form class="flex gap-4 py-4">
      <Input
        name="q"
        placeholder="Search"
        defaultValue={q}
        autoFocus={q === "" || results.length === 0}
      />

      <Button type="submit" size="icon" variant="outline">
        <IconSearch size={20} />
      </Button>
    </form>

    <div class="flex flex-col gap-4">
      {
        q && results.length === 0 && (
          <p class="font-semibold">No results found.</p>
        )
      }

      {results.map((result) => <PostCard post={result.item} />)}
    </div>
  </div>
</Root>
