---
import Root from "~/layouts/root.astro";
import { Button } from "~/components/ui/button";
import { IconMail } from "@tabler/icons-react";
---

<Root title="Shadcn UI Test · Zachary Robinson">
  <h1>Hello, world!</h1>

  <Button>Primary</Button>
  <Button variant="secondary">Secondary</Button>
  <Button variant="outline">Outline</Button>
  <Button variant="ghost">Ghost</Button>
  <Button variant="link">Link</Button>
  <Button variant="secondary">
    <IconMail className="mr-2 h-4 w-4" /> With Icon
  </Button>
</Root>
