---
import { IconHeart } from "@tabler/icons-react";
const currentYear = new Date().getFullYear();
---

<!-- slightly closer to bg color than navbar since there's no gradient to ease the transition -->
<div class="mt-16 border-t border-border bg-muted dark:bg-muted/30">
  <div
    class="mx-auto max-w-5xl flex-wrap items-center justify-between gap-2 p-4 text-muted-foreground"
  >
    <p class="text-center">
      <span class="whitespace-nowrap">
        © {currentYear}
        <a
          href="/"
          class="underline underline-offset-2 transition hover:text-primary focus-visible:text-primary focus-visible:outline-none"
          >Zachary Robinson</a
        >
      </span>
      <span class="whitespace-nowrap">
        · Made with <IconHeart className="inline mb-1" size={20} /> using <a
          href="https://astro.build"
          class="underline underline-offset-2 transition hover:text-primary focus-visible:text-primary focus-visible:outline-none"
          target="_blank"
        >
          Astro
        </a>
      </span>
    </p>
  </div>
</div>
