---
import { IconHeart } from "@tabler/icons-react";
const currentYear = new Date().getFullYear();
---

<!-- slightly closer to bg color than navbar since there's no gradient to ease the transition -->
<div class="border-t border-border bg-muted dark:bg-muted/30">
  <div
    class="mx-auto max-w-5xl flex-wrap items-center justify-between gap-2 p-4 text-zinc-700 dark:text-zinc-400"
  >
    <p class="text-center">
      © {currentYear} Zachary Robinson · Created with<IconHeart
        className="inline mb-1 text-rose-300"
        size={20}
      /> using<a
        href="https://astro.build"
        class="underline underline-offset-2 transition hover:text-zinc-500 dark:hover:text-zinc-300"
        target="_blank"
      >
        Astro
      </a>
    </p>
  </div>
</div>
