---
const currentYear = new Date().getFullYear();
---

<hr />

<footer>
  <p>
    © {currentYear} Zachary Robinson. Made with ♡ using <a
      href="https://astro.build"
      target="_blank"
    >
      Astro</a
    >.
  </p>
</footer>

<style>
  hr {
    margin-top: 32px;
  }
  p {
    text-align: center;
  }
</style>
