---
import HorizontalRule from "./horizontal-rule.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <HorizontalRule />

  <p>
    (c) {currentYear} Zachary Robinson. Made with &lt;3 using <a
      href="https://astro.build"
      target="_blank"
    >
      Astro</a
    >.
  </p>
</footer>

<style>
  footer > :global(.hr) {
    margin-top: 2rem;
  }
</style>
