---
import { IconHeart } from "@tabler/icons-react";
const currentYear = new Date().getFullYear();
---

<!-- slightly closer to bg color than navbar since there's no gradient to ease the transition -->
<div class="bg-muted dark:bg-muted/30 border-t border-border">
  <div
    class="max-w-5xl mx-auto justify-between p-4 items-center flex-wrap gap-2 text-zinc-700 dark:text-zinc-400"
  >
    <p class="text-center">
      © {currentYear} Zachary Robinson · Created with<IconHeart
        className="inline mb-1 text-rose-300"
        size={20}
      /> using<a
        href="https://astro.build"
        class="hover:text-zinc-500 dark:hover:text-zinc-300 transition underline underline-offset-2"
        target="_blank"
      >
        Astro
      </a>
    </p>
  </div>
</div>
