---
import HorizontalRule from "./horizontal-rule.astro";
---

<header>
  <pre>                   __   _                  
 ___ ___ _______  / /  (_)__  ___ ___  ___ 
/_ /(_-&lt;/ __/ _ \/ _ \/ / _ \(_-&lt;/ _ \/ _ \
/__/___/_/  \___/_.__/_/_//_/___/\___/_//_/</pre>

  <a href="/">home</a>
  <span>|</span>
  <a href="/posts">posts</a>
  <span>|</span>
  <a href="/index.xml" target="_blank">rss</a>
  <span>|</span>
  <a href="/search">search</a>

  <span class="alert"> New and "Improved" Design! </span>

  <HorizontalRule />
</header>

<style>
  div {
    margin: 0;
    text-align: right;
    padding-right: 1ch;
  }
  pre {
    margin: 0 0 1rem 0;
  }
  .alert {
    margin-left: 4ch;
    white-space: pre;
    color: var(--bg);
    background-color: var(--re);
  }

  header > :global(.hr) {
    margin-bottom: 2rem;
  }
</style>
