<header>
  <h1>zsrobinson</h1>
  <nav>
    <a href="/">home</a>
    <a href="/posts">posts</a>
    <a href="/index.xml" target="_blank">rss</a>
    <a href="/search">search</a>
  </nav>
</header>

<hr />

<style>
  h1 {
    font-family: monospace;
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    gap: 16px;
  }
  hr {
    margin-bottom: 32px;
  }
</style>
