---
import {
  IconBrandGithub,
  IconBrandInstagram,
  IconBrandTwitter,
  IconMail,
} from "@tabler/icons-react";
import Button from "./button.astro";
---

<div class="flex gap-4 flex-wrap">
  <Button href="https://github.com/zsrobinson">
    <IconBrandGithub size={20} />
    GitHub
  </Button>

  <Button href="https://instagram.com/zsrobinson">
    <IconBrandInstagram size={20} />
    Instagram
  </Button>

  <Button href="https://twitter.com/zsrobinson_">
    <IconBrandTwitter size={20} />
    Twitter
  </Button>

  <Button href="mailto:obfuscated@example.com" id="ZW1haWwtYnV0dG9u">
    <IconMail size={20} />
    Email
  </Button>

  <script>
    const parts = ["bWVA", "enNyb2JpbnNvbg==", "LmNvbQ=="];
    const string = parts.map((part) => atob(part)).join("");
    document.getElementById("ZW1haWwtYnV0dG9u").href = "mailto:" + string;
  </script>
</div>
