<p aria-hidden class="hr">
  --------------------------------------------------------------------------------
</p>

<style>
  p {
    height: 1rem;
    overflow-wrap: break-word;
    overflow-y: hidden;
    /* color: var(--tx-3); */
    width: 100%;
  }
</style>
