---
import { IconSearch, IconShadow, IconSlash } from "@tabler/icons-react";
import ThemeIcon from "./theme-picker";
import { slugify } from "~/lib/utils";

export type Props = { parent?: string };
const { parent } = Astro.props;
---

<div class="border-b border-border bg-muted dark:bg-muted/30">
  <div
    class="mx-auto flex max-w-5xl flex-wrap items-center justify-between gap-2 p-4"
  >
    <div class="flex items-center">
      <a
        href="/"
        class="decoration-ring/50 underline-offset-2 focus-visible:underline focus-visible:outline-none"
      >
        <h1 class="text-2xl font-bold leading-none">Zachary Robinson</h1>
      </a>

      {
        parent && (
          <>
            <IconSlash className="text-muted-foreground/30 ml-0.5 -rotate-12 translate-y-[1px]" />
            <a
              href={`/${slugify(parent)}`}
              class="mt-0.5 font-medium leading-none text-muted-foreground decoration-ring/50 decoration-2 underline-offset-2 focus-visible:underline focus-visible:outline-none"
            >
              {parent}
            </a>
          </>
        )
      }
    </div>

    <div class="flex gap-2">
      <a
        href="/search"
        class="h-6 w-6 rounded-[2px] ring-offset-[#F4F4F5] transition-colors hover:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/50 focus-visible:ring-offset-[3px] dark:ring-offset-[#18181A]"
        title="Visit Search Page"
      >
        <IconSearch />
      </a>

      <div class="h-6 w-6 transition-colors hover:text-muted-foreground">
        <ThemeIcon client:only="react" />
        <noscript title="Please Enable Javascript to Switch Themes">
          <IconShadow />
        </noscript>
      </div>
    </div>
  </div>
</div>
