---
export interface Props {
  href: string;
}

const { href } = Astro.props;

let active = false;
if (href === "/") {
  if (Astro.url.pathname === "/") active = true;
} else if (Astro.url.pathname.startsWith(href)) {
  active = true;
}
---

<a
  href={href}
  class={`px-3 py-1 rounded-md transition-colors ${
    active ? "bg-zinc-700 bg-opacity-50" : "text-zinc-400 hover:text-zinc-200"
  }`}
>
  <slot />
</a>
