---
import { IconRss, IconSearch, IconSlash, IconSun } from "@tabler/icons-react";
import ThemeIcon from "./theme-icon";

const isPostsPage = Astro.url.pathname.includes("/posts");
const displayPostsThing = true;
---

<div class="border-b border-border bg-muted dark:bg-muted/30">
  <div
    class="mx-auto flex max-w-5xl flex-wrap items-center justify-between gap-2 p-4"
  >
    <div class="flex items-center">
      <a href="/">
        <h1 class="text-2xl leading-none">Zachary Robinson</h1>
      </a>

      {
        isPostsPage && displayPostsThing && (
          <>
            <IconSlash className="text-muted-foreground/30 ml-0.5 -rotate-12 translate-y-[1px]" />
            <a href="/posts" class="mt-0.5 leading-none text-muted-foreground">
              Posts
            </a>
          </>
        )
      }
    </div>

    <div class="flex gap-2">
      <a
        href="/search"
        class="h-6 w-6 transition hover:text-muted-foreground"
        title="Visit Search Page"
      >
        <IconSearch />
      </a>

      <div class="h-6 w-6 transition hover:text-muted-foreground">
        <ThemeIcon client:only="react" />
        <noscript title="Please Enable Javascript to Switch Themes">
          <IconSun />
        </noscript>
      </div>

      <a
        href="/index.xml"
        class="h-6 w-6 transition hover:text-muted-foreground"
        title="Visit RSS Feed"
      >
        <IconRss />
      </a>
    </div>
  </div>
</div>
