---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "~/lib/utils";

type Props = { post: CollectionEntry<"posts"> };
const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<a href={`/posts/${post.slug}`}>
  <p class="text-balance text-2xl font-semibold leading-[1.15]">
    {post.data.title}
  </p>

  <p class="pb-2 text-sm text-muted-foreground">
    {formatDate(post.data.date)} · {
      remarkPluginFrontmatter.minutesRead.split(" ")[0]
    } min read
  </p>

  <p class="line-clamp-3 text-secondary-foreground">
    {post.body.split(" ").slice(0, 80).join(" ")}
  </p>
</a>
