---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "~/lib/utils";
import { LinkCard } from "./link-card";

type Props = { post: CollectionEntry<"posts"> };
const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<LinkCard href={`/posts/${post.slug}`} transition:name={"card:" + post.slug}>
  <p
    class="text-2xl font-semibold leading-[1.15]"
    style="text-wrap: balance;"
    transition:name={"title:" + post.slug}
  >
    {post.data.title}
  </p>

  <p
    class="pb-2 text-sm text-muted-foreground"
    transition:name={"details:" + post.slug}
  >
    {formatDate(post.data.date)} · {
      remarkPluginFrontmatter.minutesRead.split(" ")[0]
    } min read
  </p>

  <p class="line-clamp-3 text-secondary-foreground">
    {post.body.split(" ").slice(0, 80).join(" ")}
  </p>
</LinkCard>
