---
import { getEntry, type CollectionEntry } from "astro:content";
import { formatMonth } from "~/lib/utils";

export type Props = { project: CollectionEntry<"projects">["slug"] };
const { project: projectName } = Astro.props;
const project = await getEntry("projects", projectName);
---

<a href={project.data.deploymentURL ?? "https://github.com/zsrobinson"}>
  <p>{project.data.title}</p>
  <p>Developed in {formatMonth(project.data.date)}</p>
  <p>{project.data.description}</p>
  <div>{project.data.tech?.map((t) => <span>{t}</span>)}</div>
</a>
