---
import type { CollectionEntry } from "astro:content";

export type Props = { projects: CollectionEntry<"projects">[] };
const { projects } = Astro.props;

projects.sort((a, b) => {
  if (a.data.ongoing === b.data.ongoing)
    return b.data.date.getTime() - a.data.date.getTime();
  return a.data.ongoing ? -1 : 1;
});
---

<ul>
  {
    projects.map((project) => (
      <li>
        <time datetime={project.data.date.toISOString()}>
          {project.data.date.toISOString().split("T")[0]}
        </time>
        {project.data.ongoing && <span>(ongoing)</span>}
        <span>|</span>
        <a href={project.data.deploymentURL} target="_blank">
          {project.data.title}
        </a>
        <blockquote>{project.data.description}</blockquote>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  li > :not(blockquote) {
    font-weight: bold;
  }
</style>
