<script>
  // super sneaky email obfuscation
  setTimeout(() => {
    const parts = ["bWVA", "enNyb2JpbnNvbg==", "LmNvbQ=="];
    const string = parts.map((part) => atob(part)).join("");
    const anchor = document.querySelector<HTMLAnchorElement>("#aGkgdGhlcmUh");
    if (anchor) anchor.href = "mailto:" + string;
  }, 250);
</script>

<a href="mailto:obfuscated@example.com" id="aGkgdGhlcmUh">Email</a>,
<a href="https://github.com/zsrobinson" target="_blank">GitHub</a>, or
<a href="https://www.linkedin.com/in/zsrobinson05" target="_blank">LinkedIn</a>
