---
import "~/styles/globals.css";
import Footer from "~/components/footer.astro";
import Navbar from "~/components/navbar.astro";
import { ViewTransitions } from "astro:transitions";

export type Props = { title: string; gradientBg?: boolean };
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
      const media = window.matchMedia("(prefers-color-scheme: dark)");

      // set theme before react loads to avoid flash of incorrect theme
      const theme = localStorage.getItem("theme");

      if (theme === "dark" || (!theme && media.matches)) {
        document.documentElement.classList.add("dark");
      }

      // update class when user changes system theme
      media.addEventListener("change", (e) => {
        // if user has already set a theme, don't change it
        if (localStorage.getItem("theme") !== null) return;

        if (e.matches) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>

    <link rel="alternate" type="application/rss+xml" href="/index.xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <ViewTransitions fallback="swap" />
  </head>

  <body>
    <Navbar />

    <!-- Gradient at top of page -->
    <div
      class="absolute left-0 top-0 -z-10 h-96 w-full from-secondary/30 to-transparent dark:bg-gradient-to-b"
    >
    </div>

    <main class="mx-auto min-h-screen max-w-5xl p-4 py-8">
      <slot />
    </main>

    <Footer />
  </body>
</html>
