---
import "~/styles/globals.css";
import Footer from "~/components/footer.astro";
import Navbar from "~/components/navbar.astro";

export type Props = { title: string; gradientBg?: boolean };
const { title, gradientBg = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark" style={{ colorScheme: "dark" }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <style>
      @font-face {
        font-family: "WalterTurncoat";
        src: url("/fonts/WalterTurncoat-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
    </style>

    <script>
      if (localStorage.getItem("theme") === "light") {
        document.documentElement.classList.remove("dark");
        document.documentElement.style.setProperty("color-scheme", "light");
      }
    </script>

    <link rel="alternate" type="application/rss+xml" href="/index.xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50">
    <Navbar />
    {
      gradientBg && (
        <div class="h-96 w-full dark:bg-gradient-to-b from-zinc-900 to-transparent fixed top-0 left-0 -z-10" />
      )
    }
    <main class="max-w-5xl mx-auto p-4 py-8 min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
