---
import "~/styles/globals.css";
import Footer from "~/components/footer.astro";
import Navbar from "~/components/navbar.astro";

export type Props = { title: string; gradientBg?: boolean };
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <style>
      @font-face {
        font-family: "WalterTurncoat";
        src: url("/fonts/WalterTurncoat-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
    </style>

    <script>
      // set theme before react loads to avoid flash of incorrect theme
      const theme = localStorage.getItem("theme");

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.add("light");
        localStorage.setItem("theme", "light");
      } else if (theme === "dark") {
        document.documentElement.classList.remove("light");
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
      }
    </script>

    <link rel="alternate" type="application/rss+xml" href="/index.xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <Navbar />

    <!-- Gradient at top of page -->
    <div
      class="absolute left-0 top-0 -z-10 h-96 w-full from-secondary/30 to-transparent dark:bg-gradient-to-b"
    >
    </div>

    <main class="mx-auto min-h-screen max-w-5xl p-4 py-8">
      <slot />
    </main>

    <Footer />
  </body>
</html>
