---
import Root from "~/layouts/root.astro";
---

<Root title="Test" noIndex>
  <span id="letter">0</span>
  <canvas id="canvas"></canvas>
</Root>

<script>
  const canvas = document.getElementById("canvas") as HTMLCanvasElement;
  const letter = document.getElementById("letter") as HTMLSpanElement;
  const ctx = canvas.getContext("2d")!;

  const scale = 4;

  const ltrWidth = letter.offsetWidth * scale;
  const ltrHeight = 16 * scale;

  const lettersX = 80 / scale;
  const lettersY = 24 / scale;

  // scale for high dpi displays
  const width = ltrWidth * lettersX;
  const height = ltrHeight * lettersY;
  const ratio = window.devicePixelRatio || 1;
  canvas.width = width * ratio;
  canvas.height = height * ratio;
  canvas.style.width = width + "px";
  canvas.style.height = height + "px";
  ctx.scale(ratio, ratio);

  const topLeft = [255, 252, 240]; // flexoki-cyan-600
  const topRight = [58, 169, 159]; // flexoki-blue-600
  const bottomLeft = [32, 94, 166]; // flexoki-purple-600
  const bottomRight = [16, 15, 15]; // flexoki-magenta-600

  function calcColor(x: number, y: number) {
    return [0, 1, 2].map(
      (i) =>
        (1 - x) * (1 - y) * topLeft[i] +
        x * (1 - y) * topRight[i] +
        (1 - x) * y * bottomLeft[i] +
        x * y * bottomRight[i],
    );
  }

  for (let i = 0; i < lettersX; i++) {
    for (let j = 0; j < lettersY; j++) {
      ctx.fillStyle = `rgb(${calcColor(i / lettersX, j / lettersY).join(",")})`;
      ctx.fillRect(ltrWidth * i, ltrHeight * j, ltrWidth, ltrHeight);
    }
  }
</script>
